# {{ ansible_managed }}

[Unit]
Description=ShellInABox

[Service]
Type=forking
ExecStart=/bin/bash -c 'shellinaboxd -p {{ shellinaboxd_port }} -u nobody -t -b -s /:SSH:127.0.0.1'
User=root

[Install]
WantedBy=multi-user.target
