
MONGO_DB_NAME = "{{ db_name | default("picoCTF")}}"
MONGO_ADDR = "{{ db_private_ip }}"
MONGO_PORT = "{{ mongodb_conf_port | default(27017)}}"
{% if  mongodb_conf_auth %}
MONGO_USER = "{{ mongodb_web_user | default("picoWeb") }}"
MONGO_PW = "{{ picoWeb_db_password }}"
{% endif %}

SERVER_NAME = "{{ flask_app_server_name }}"
SECRET_KEY = "{{ flask_app_secret_key | default("INSECURE_DEFAULT_CHANGE_ME") }}"

SESSION_COOKIE_DOMAIN = {{ flask_app_cookie_domain | default("None") }}
SESSION_COOKIE_PATH = "{{ flask_app_cookie_path | default("/") }}"
SESSION_COOKIE_NAME = "{{ flask_app_cookie_name | default("flask") }}"
