[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target vboxadd-service.service

[Service]
Environment="APP_SETTINGS_FILE={{ web_config_dir }}/deploy_settings.py"
PIDFile=/run/gunicorn/pid
User= {{ gunicorn_user }}
Group= {{ gunicorn_group }}
WorkingDirectory= {{ gunicorn_working_dir }}
ExecStartPre=/bin/sleep 15
ExecStart={{ virtualenv_dir }}/bin/gunicorn --pid /run/gunicorn/pid -b {{ gunicorn_listen_on }} -w {{ num_workers }} 'api.app:config_app()'
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
